<html lang="en">
  <head>
    <title>Dragon Bank &mdash; </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="Bank/templates/fonts/icomoon/style.css">
    <link rel="stylesheet" href="Bank/templates/css/bootstrap.min.css">
    <link rel="stylesheet" href="Bank/templates/css/jquery-ui.css">
    <link rel="stylesheet" href="Bank/templates/css/owl.carousel.min.css">
    <link rel="stylesheet" href="Bank/templates/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="Bank/templates/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="Bank/templates/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="Bank/templates/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="Bank/templates/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="Bank/templates/css/aos.css">
    <link rel="stylesheet" href="Bank/templates/css/style.css">
    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    
    <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="{% url 'home' %}" class="h2 mb-0">Dragon Bank<span class="text-primary">.</span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                {% comment %} <li><a href="{% url 'login' %}" class="nav-link">Login</a></li> {% endcomment %}
                {% comment %} <li><a href="#blog-section" class="nav-link">Register</a></li> {% endcomment %}
                <li><a href="#blog-section" class="nav-link">Blog</a></li>
                <li class="has-children">
                    <a href="#about-section" class="nav-link">About Us</a>
                    <ul class="dropdown">
                      <li><a href="#team-section" class="nav-link">Team</a></li>
                      <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                      <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                      <li><a href="#gallery-section" class="nav-link">Gallery</a></li>
                      <li><a href="#services-section" class="nav-link">Services</a></li>
                      <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
                      <li class="has-children">
                        <a href="#">More Links</a>
                        <ul class="dropdown">
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
                <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover overlay" style="background-image: url(Bank/templates/images/background_image.jpg);" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">

          
          <div class="col-md-12 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Home Page</h1>

                <ul class="list-unstyled">
                  <li><a href="{% url 'profile' %}" class="nav-link">View Profile</a></li>
                  <li><a href="{% url 'update' %}" class="nav-link">Edit Profile</a></li>
                  <li><a href="{% url 'transfer' %}" class="nav-link">Make Trnsaction</a></li>
                  <li><a href="{% url 'remove' %}" class="nav-link">Remove Account</a></li>
                  <li><a href="{% url 'loan' %}" class="nav-link">Take a Loan</a></li>
                </ul>

                {% comment %} <form method = "POST">
                    {% csrf_token %}
				            <div>Name: {{ form.customer_name_first }}  {{ form.customer_name_middle }} {{ form.customer_name_last }} </div>
                    <div>Age / DOB: {{ form.customer_age }} {{ form.customer_dob }} </div>
                    <div>Address Line1: {{ form.customer_house_no }} {{ form.customer_appartment_name }} {{ form.customer_place }} </div>
                    <div>Address Line2: {{ form.customer_city }} {{ form.customer_state }} {{ form.customer_country }} </div>
                    <div>Email/recovery: {{ form.customer_email }} {{ form.customer_recovery_email }} </div>
                    <div>Adhar no.: {{ form.customer_adhar_no }} </div>
                    <div>Bunny ka name : {{ form.customer_phone_no }} </div>
                    <div>Bunny ka name : {{ form.customer_password }} </div>
                    <div>Bunny ka name : {{ form.customer_confirm_password }} </div>
                    <div>Bunny ka name : {{ form.customer_security_code }} </div>
                    <div>Bunny ka name : {{ form.customer_security_hint }} </div>
                    <div>Bunny ka name : {{ form.customer_id }} </div>
                    <div>Bunny ka name : {{ form.customer_id }} </div>

                    <button target="_blank" class="btn  btn-primary mr-2 mb-2" type = 'submit'> Register </button>
                </form> {% endcomment %}
              </div>
            </div>
          </div>
            
        </div>
      </div>

     
  
      <section class="site-section" id="about-section">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title">About US</h2>
        </div>
        <div class="container">
  
          <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              
  
              <div class="row">
  
                
                
                <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="">
                  <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
                    <div>
                      <h3>Bank Loan</h3>
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                      <p class="mb-0"><a href="#">Learn More</a></p>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-4" data-aos="fade-up" data-aos-delay="100">
                  <div class="unit-4 d-flex">
                    <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                    <div>
                      <h3>Banking Consulation </h3>
                      <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                      <p class="mb-0"><a href="#">Learn More</a></p>
                    </div>
                  </div>
                </div>
              </div>
  
  
              
            </div>
          </div>
  
          
        </div>
      </section>



      <div class="row site-section" id="faq-section">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title">Frequently Ask Questions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          
          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
          <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
          <a>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</a>
          </div>
          
          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
            <a>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</a>
          </div>

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
          <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
          <a>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</a>
          </div>
          
          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
            <a>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</a>
          </div>
        </div>
        <div class="col-lg-6">

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">Where are you from?</h3>
            <a>Voluptatum nobis obcaecati perferendis dolor totam unde dolores quod maxime corporis officia et. Distinctio assumenda minima maiores.</a>
          </div>
          
          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What is your opening time?</h3>
            <a>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</a>
          </div>

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
          <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
          <a>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</a>
          </div>
          
          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">What available is refund period?</h3>
            <a>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</a>
          </div>
        </div>
      </div>


      <section class="site-section bg-light" id="contact-section" data-aos="fade">
        <div class="container">
          <div class="row mb-5">
            <div class="col-12 text-center">
              <h2 class="section-title mb-3">Contact Us</h2>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col-md-4 text-center">
              <p class="mb-4">
                <span class="icon-room d-block h2 text-primary"></span>
                <a href="location:">Block:C-4-C, 168, Janakpuri, New Delhi, India</a>
              </p>
            </div>
            <div class="col-md-4 text-center">
              <p class="mb-4">
                <span class="icon-phone d-block h2 text-primary"></span>
                <a href="tell: 8178699520">+91 8178-699-520</a>
              </p>
            </div>
            <div class="col-md-4 text-center">
              <p class="mb-0">
                <span class="icon-mail_outline d-block h2 text-primary"></span>
                <a href="mailto:vignesh20152@iiitd.ac.in">vignesh20152@iiitd.ac.in</a>
              </p>
            </div>
          </div>
        </section>

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-5">
                  <h2 class="footer-heading mb-4">About Us</h2>
                  <p>Dragon Bank: </p>
                </div>
                <div class="col-md-3 ml-auto">
                  <h2 class="footer-heading mb-4">Quick Links</h2>
                  <ul class="list-unstyled">
                    <li><a href="Bank/templates/pdf/terms.pdf" class="smoothscroll">Terms</a></li>
                    <li><a href="Bank/templates/pdf/policy.pdf" class="smoothscroll">Policy</a></li>
                    <li><a href="#about-section" class="smoothscroll">About Us</a></li>
                    <li><a href="Bank/templates/pdf/services.pdf" class="smoothscroll">Services</a></li>
                    <li><a href="#contact-section" class="smoothscroll">Contact Us</a></li>
                  </ul>
                </div>
                <div class="col-md-3 footer-social">
                  <h2 class="footer-heading mb-4">Follow Us</h2>
                  <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                  <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <h2 class="footer-heading mb-4">Subscribe </h2>
              <form action="#" method="post" class="footer-subscribe">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
              <div class="border-top pt-5">
                <p>Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Made By Vignesh Goswami
                  </p>   
              </div>
            </div>
            
          </div>
        </div>
      </footer>
  
      
          


    </div> <!-- .site-wrap -->
  
    <script src="Bank/templates/js/jquery-3.3.1.min.js"></script>
    <script src="Bank/templates/js/jquery-ui.js"></script>
    <script src="Bank/templates/js/popper.min.js"></script>
    <script src="Bank/templates/js/bootstrap.min.js"></script>
    <script src="Bank/templates/js/owl.carousel.min.js"></script>
    <script src="Bank/templates/js/jquery.countdown.min.js"></script>
    <script src="Bank/templates/js/jquery.easing.1.3.js"></script>
    <script src="Bank/templates/js/aos.js"></script>
    <script src="Bank/templates/js/jquery.fancybox.min.js"></script>
    <script src="Bank/templates/js/jquery.sticky.js"></script>
    <script src="Bank/templates/js/isotope.pkgd.min.js"></script>
  
    
    <script src="Bank/templates/js/main.js"></script>
  
    
    </body>
</html>